//Upload the dataset file

In [1]:
from google.colab import files
uploaded = files.upload()

Saving Amazon Sale Report.csv to Amazon Sale Report.csv

//import the required libraries
//pandas for data manipulation
//numpy for numerical operations

In [49]:
import pandas as pd
import numpy as np

//load the dataset into a frame
// read the first  5 rows

In [50]:
df=pd.read_csv("Amazon Sale Report.csv")
df.head()

/tmp/ipython-input-2121730502.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("Amazon Sale Report.csv")

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

Initial Data Exploration

// number of rows and columns

In [51]:
df.shape

(128975, 24)

//dataset information

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

Statistical summary of numeric columns

In [53]:
df.describe()

               index            Qty         Amount  ship-postal-code
count  128975.000000  128975.000000  121180.000000     128942.000000
mean    64487.000000       0.904431     648.561465     463966.236509
std     37232.019822       0.313354     281.211687     191476.764941
min         0.000000       0.000000       0.000000     110001.000000
25%     32243.500000       1.000000     449.000000     382421.000000
50%     64487.000000       1.000000     605.000000     500033.000000
75%     96730.500000       1.000000     788.000000     600024.000000
max    128974.000000      15.000000    5584.000000     989898.000000

Select Required Columns

//create a new dataframe with selected columns

In [60]:
selected_columns=["Order ID","Date","Status","ship-service-level","Category","Size", "Qty","Amount","ship-state","ship-city","ship-postal-code"]
df=df[selected_columns]
df.head()

,Order ID,Date,Status,ship-service-level,Category,Size,Qty,Amount,ship-state,ship-city,ship-postal-code
0,405-8078784-5731545,04-30-22,Cancelled,Standard,Set,S,0,647.62,MAHARASHTRA,MUMBAI,400081.0
1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Standard,kurta,3XL,1,406.00,KARNATAKA,BENGALURU,560085.0
2,404-0687676-7273146,04-30-22,Shipped,Expedited,kurta,XL,1,329.00,MAHARASHTRA,NAVI MUMBAI,410210.0
3,403-9615377-8133951,04-30-22,Cancelled,Standard,Western Dress,L,0,753.33,PUDUCHERRY,PUDUCHERRY,605008.0
4,407-1069790-7240320,04-30-22,Shipped,Expedited,Top,3XL,1,574.00,TAMIL NADU,CHENNAI,600073.0

//Save Filtered dataset

In [61]:
df.to_csv("Amazon_Sales_Dataset",index=False)

// re-check dataset after column filtering

In [62]:
df=pd.read_csv("Amazon_Sales_Dataset")
df.head()

,Order ID,Date,Status,ship-service-level,Category,Size,Qty,Amount,ship-state,ship-city,ship-postal-code
0,405-8078784-5731545,04-30-22,Cancelled,Standard,Set,S,0,647.62,MAHARASHTRA,MUMBAI,400081.0
1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Standard,kurta,3XL,1,406.00,KARNATAKA,BENGALURU,560085.0
2,404-0687676-7273146,04-30-22,Shipped,Expedited,kurta,XL,1,329.00,MAHARASHTRA,NAVI MUMBAI,410210.0
3,403-9615377-8133951,04-30-22,Cancelled,Standard,Western Dress,L,0,753.33,PUDUCHERRY,PUDUCHERRY,605008.0
4,407-1069790-7240320,04-30-22,Shipped,Expedited,Top,3XL,1,574.00,TAMIL NADU,CHENNAI,600073.0

In [63]:
df.shape

(128975, 11)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Order ID            128975 non-null  object
 1   Date                128975 non-null  object
 2   Status              128975 non-null  object
 3   ship-service-level  128975 non-null  object
 4   Category            128975 non-null  object
 5   Size                128975 non-null  object
 6   Qty                 128975 non-null  int64
 7   Amount              121180 non-null  float64
 8   ship-state          128942 non-null  object
 9   ship-city           128942 non-null  object
 10  ship-postal-code    128942 non-null  float64
dtypes: float64(2), int64(1), object(8)
memory usage: 10.8+ MB

In [65]:
df.describe()

                 Qty         Amount  ship-postal-code
count  128975.000000  121180.000000     128942.000000
mean        0.904431     648.561465     463966.236509
std         0.313354     281.211687     191476.764941
min         0.000000       0.000000     110001.000000
25%         1.000000     449.000000     382421.000000
50%         1.000000     605.000000     500033.000000
75%         1.000000     788.000000     600024.000000
max        15.000000    5584.000000     989898.000000

Check and Handling Missing Values

//identifying missing values

In [66]:
df.isnull().sum()

Order ID                 0
Date                     0
Status                   0
ship-service-level       0
Category                 0
Size                     0
Qty                      0
Amount                7795
ship-state              33
ship-city               33
ship-postal-code        33
dtype: int64

//remove missing values

In [67]:
df = df.dropna()
df.isnull().sum()

Order ID              0
Date                  0
Status                0
ship-service-level    0
Category              0
Size                  0
Qty                   0
Amount                0
ship-state            0
ship-city             0
ship-postal-code      0
dtype: int64

// identifying duplicate values

In [68]:
df.duplicated().sum()

np.int64(559)

// drop the duplicates

In [69]:
df = df.drop_duplicates()
df.duplicated().sum()

np.int64(0)

Convert Data Types

//convert date column to datetime format

In [72]:
df["Date"] = pd.to_datetime(df["Date"])

//convert Quantity and Amount to numeric format

In [71]:
df["Qty"]=pd.to_numeric(df["Qty"],errors="coerce")
df["Amount"]=pd.to_numeric(df["Amount"],errors="coerce")

Data set exploring after changing datatypes

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120590 entries, 0 to 128974
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Order ID            120590 non-null  object
 1   Date                120590 non-null  datetime64[ns]
 2   Status              120590 non-null  object
 3   ship-service-level  120590 non-null  object
 4   Category            120590 non-null  object
 5   Size                120590 non-null  object
 6   Qty                 120590 non-null  int64
 7   Amount              120590 non-null  float64
 8   ship-state          120590 non-null  object
 9   ship-city           120590 non-null  object
 10  ship-postal-code    120590 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(7)
memory usage: 11.0+ MB

In [74]:
df.head()

,Order ID,Date,Status,ship-service-level,Category,Size,Qty,Amount,ship-state,ship-city,ship-postal-code
0,405-8078784-5731545,2022-04-30,Cancelled,Standard,Set,S,0,647.62,MAHARASHTRA,MUMBAI,400081.0
1,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Standard,kurta,3XL,1,406.00,KARNATAKA,BENGALURU,560085.0
2,404-0687676-7273146,2022-04-30,Shipped,Expedited,kurta,XL,1,329.00,MAHARASHTRA,NAVI MUMBAI,410210.0
3,403-9615377-8133951,2022-04-30,Cancelled,Standard,Western Dress,L,0,753.33,PUDUCHERRY,PUDUCHERRY,605008.0
4,407-1069790-7240320,2022-04-30,Shipped,Expedited,Top,3XL,1,574.00,TAMIL NADU,CHENNAI,600073.0

In [75]:
df.isnull().sum()

Order ID              0
Date                  0
Status                0
ship-service-level    0
Category              0
Size                  0
Qty                   0
Amount                0
ship-state            0
ship-city             0
ship-postal-code      0
dtype: int64

In [76]:
df.duplicated().sum()

np.int64(0)

FEATURE ENGINEERING

//Extract Year,Month,Day,
Day of Week , Day of Name from Date

In [77]:
df["Year"]= df["Date"].dt.year
df["Month"]= df["Date"].dt.month
df["Day"]= df["Date"].dt.day
df["Day of Week"]= df["Date"].dt.dayofweek
df["Day Name"]= df["Date"].dt.day_name()

// create total revenue column

In [78]:
df["Total_Revenue"]=df["Qty"]*df["Amount"]

Final dataset check

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120590 entries, 0 to 128974
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Order ID            120590 non-null  object
 1   Date                120590 non-null  datetime64[ns]
 2   Status              120590 non-null  object
 3   ship-service-level  120590 non-null  object
 4   Category            120590 non-null  object
 5   Size                120590 non-null  object
 6   Qty                 120590 non-null  int64
 7   Amount              120590 non-null  float64
 8   ship-state          120590 non-null  object
 9   ship-city           120590 non-null  object
 10  ship-postal-code    120590 non-null  float64
 11  Year                120590 non-null  int32
 12  Month               120590 non-null  int32
 13  Day                 120590 non-null  int32
 14  Day of Week         120590 non-null  int32
 15  Day Name            120590 non-null  object
 16  Total_Revenue       120590 non-null  float64
dtypes: datetime64[ns](1), float64(3), int32(4), int64(1), object(8)
memory usage: 14.7+ MB

In [80]:
df.head()

,Order ID,Date,Status,ship-service-level,Category,Size,Qty,Amount,ship-state,ship-city,ship-postal-code,Year,Month,Day,Day of Week,Day Name,Total_Revenue
0,405-8078784-5731545,2022-04-30,Cancelled,Standard,Set,S,0,647.62,MAHARASHTRA,MUMBAI,400081.0,2022,4,30,5,Saturday,0.0
1,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Standard,kurta,3XL,1,406.00,KARNATAKA,BENGALURU,560085.0,2022,4,30,5,Saturday,406.0
2,404-0687676-7273146,2022-04-30,Shipped,Expedited,kurta,XL,1,329.00,MAHARASHTRA,NAVI MUMBAI,410210.0,2022,4,30,5,Saturday,329.0
3,403-9615377-8133951,2022-04-30,Cancelled,Standard,Western Dress,L,0,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,2022,4,30,5,Saturday,0.0
4,407-1069790-7240320,2022-04-30,Shipped,Expedited,Top,3XL,1,574.00,TAMIL NADU,CHENNAI,600073.0,2022,4,30,5,Saturday,574.0

Save Final Cleaned Dataset

In [81]:
df.to_csv("task1_cleaned1_engineered.csv",index=False)

Download cleaned dataset

In [82]:
from google.colab import files
files.download("task1_cleaned1_engineered.csv")